<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>{{ 'FOOTER.CONTACT_INFO' | translate }}</h5>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope me-2"></i> ing.mohamad.jaber&#64;gmail.com</li>
            <li><i class="fa fa-phone me-2"></i> +966 53 3860015 | +961 70 548882</li>
            <li><i class="fa fa-map-marker me-2"></i> Saudi Arabia, Riyadh</li>
          </ul>
        </div>
        <div class="col-md-6 text-md-end">
          <h5>{{ 'FOOTER.CONNECT' | translate }}</h5>
          <a href="https://linkedin.com/in/mohamad-jaber" target="_blank" class="text-white me-3">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
          <a href="https://github.com/MJaberHub" target="_blank" class="text-white me-3">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="mb-0">&copy; {{currentYear}} Mohamad Jaber. {{ 'FOOTER.RIGHTS' | translate }}</p>
        </div>
      </div>
    </div>
  </footer>