<div class="row">
    <div class="col-12">
      <h2 class="section-title">{{ 'ABOUT.TITLE' | translate }}</h2>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <img src="assets/images/profile-full.jpg" alt="Mohamad Jaber" class="img-fluid rounded about-image">
    </div>
    <div class="col-md-8">
      <h3>{{ 'ABOUT.SUBTITLE' | translate }}</h3>
      <p>{{ 'ABOUT.DESCRIPTION1' | translate }}</p>
      <p>{{ 'ABOUT.DESCRIPTION2' | translate }}</p>
      
      <div class="mt-4">
        <h4>{{ 'ABOUT.EDUCATION' | translate }}</h4>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ 'ABOUT.DEGREE' | translate }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ 'ABOUT.UNIVERSITY' | translate }}</h6>
            <p class="card-text">{{ 'ABOUT.EDU_PERIOD' | translate }}</p>
            <p class="card-text">{{ 'ABOUT.EDU_DETAILS' | translate }}</p>
          </div>
        </div>
      </div>
      
      <div class="mt-4">
        <h4>{{ 'ABOUT.LANGUAGES' | translate }}</h4>
        <ul class="list-unstyled">
          <li><span class="fw-bold">{{ 'ABOUT.ENGLISH' | translate }}:</span> {{ 'ABOUT.ADVANCED' | translate }}</li>
          <li><span class="fw-bold">{{ 'ABOUT.FRENCH' | translate }}:</span> {{ 'ABOUT.FLUENT' | translate }} (DELF B2)</li>
          <li><span class="fw-bold">{{ 'ABOUT.ARABIC' | translate }}:</span> {{ 'ABOUT.NATIVE' | translate }}</li>
        </ul>
      </div>
      
      <div class="mt-4">
        <h4>{{ 'ABOUT.CERTIFICATIONS' | translate }}</h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-certificate me-2 text-primary"></i> AWS Cloud Practitioner - CLF-C01</li>
          <li><i class="fa fa-certificate me-2 text-primary"></i> Oracle Certified Professional</li>
          <li><i class="fa fa-certificate me-2 text-primary"></i> Oracle Certified Associate</li>
          <li><i class="fa fa-certificate me-2 text-primary"></i> DELF B2 Diploma</li>
        </ul>
      </div>
    </div>
  </div>