<div class="row align-items-center hero-section">
    <div class="col-md-6">
      <h1 class="display-4">Mohamad Jaber</h1>
      <h2 class="text-primary">{{ 'HOME.JOB_TITLE' | translate }}</h2>
      <p class="lead">{{ 'HOME.INTRO' | translate }}</p>
      <div class="mt-4">
        <a routerLink="/contact" class="btn btn-primary me-3">{{ 'HOME.CONTACT_ME' | translate }}</a>
        <a routerLink="/experience" class="btn btn-outline-primary">{{ 'HOME.VIEW_WORK' | translate }}</a>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/profile.png" alt="Mohamad Jaber" class="img-fluid rounded-circle profile-image">
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center mb-4">{{ 'HOME.FEATURED_COMPANIES' | translate }}</h3>
      <div class="company-logos">
        <img src="assets/images/companies/stc-bank.png" alt="STC Bank" class="company-logo">
        <img src="assets/images/companies/stcpay.png" alt="STCPay" class="company-logo">
        <img src="assets/images/companies/emcrey.png" alt="eMcREY" class="company-logo">
        <img src="assets/images/companies/riyadh-bank.png" alt="Riyadh Bank" class="company-logo">
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="fa fa-code fa-3x text-primary mb-3"></i>
          <h4>{{ 'HOME.CARD1_TITLE' | translate }}</h4>
          <p>{{ 'HOME.CARD1_TEXT' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="fa fa-bank fa-3x text-primary mb-3"></i>
          <h4>{{ 'HOME.CARD2_TITLE' | translate }}</h4>
          <p>{{ 'HOME.CARD2_TEXT' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="fa fa-cloud fa-3x text-primary mb-3"></i>
          <h4>{{ 'HOME.CARD3_TITLE' | translate }}</h4>
          <p>{{ 'HOME.CARD3_TEXT' | translate }}</p>
        </div>
      </div>
    </div>
  </div>